:root {
  --column-margin-left: 5vw;
  --column-margin-right: 5vw;
  --column-width: calc((80vw) / 10);
  --column-gap: 1vw;
  --row-gap: 1vw;

  --mobile-column-margin-left: 7vw;
  --mobile-column-margin-right: 7vw;
  --mobile-column-width: calc((74vw) / 6);
  --mobile-column-gap: 2vw;
  --mobile-row-gap: 1.5vw;

  --tablet-column-margin-left: 7vw;
  --tablet-column-margin-right: 7vw;
  --tablet-column-width: calc((70vw) / 8);
  --tablet-column-gap: 2vw;
  --tablet-row-gap: 1.5vw;

  /* --bg: #F7F5F0;
  --fg: #141414; */
  
  /* --bg: #f9ece5; */
  /* --bg: #faf6f0; */
  /* /* --bg: #161616; */
  /* --bg: #1b1b1b;  */
  /* --fg: #f0ecec; */

  --bg: #F7F5F0;
  --fg: #e40b0b;
}

/* .hero{
  color: #e40b0b;
} */

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

/* h1, .hero h2, .hero p{
  color: #F50404;
} */

canvas {
  display: block;
}

* {
  font-family: "Alumni Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-optical-sizing: auto;
}

p, button, a {
  font-weight: 400;
  font-size: 20px;
}

a {
  color: var(--fg);
  text-decoration: none;
}


.grid {
  display: grid;
  width: auto;
  justify-items: start;
  align-items: start;
}

.grid-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  height: 100vh;
  width: auto;
  justify-items: start;
  align-items: start;
  z-index: -100;
  opacity: 70%;
  pointer-events: none;
}

.item {
  width: 100%;
  height: 100%;
}

.line-overlay-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.line-overlay {
  opacity: 10%;
  height: 100%;
  width: 1px;
  background-image: linear-gradient(to bottom, var(--fg) 50%, rgba(0, 0, 0, 0) 0%);
  background-size: 1px 15px;
  background-position: left;
  background-repeat: repeat-y;
}

.grid-overlay.grid-overlay-menu{
  z-index: 11; 
}

.nav-desktop { display: none; }

  .nav-mobile {
    position: fixed;
    top: 1vh;    
    right: var(--mobile-column-margin-right);
    z-index: 50;
    width: auto;
    height: auto;
  }

  .nav-mobile span {
  height: 4px;
  width: 35px;
  background-color: var(--fg);
  display: block;
  transition: all 0.3s ease; 
  }

  .nav-mobile .span-white{
    background-color: var(--bg);
  }

  .nav-mobile span + span{
    margin-top: 5px;
  }

  .nav-inactive{
    display: none;
  } 

.nav-mobile.open span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 9px; /* Leichte Verschiebung nach unten */
}

.nav-mobile.open span:nth-child(2) {
    opacity: 0; 
}

.nav-mobile.open span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -9px; /* Leichte Verschiebung nach oben */
    margin-right: 15px
}
  


  /******************************************************************************************/

  body > div.nav-inactive.nav-active{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e40b0b;
    height: 100vh;
    z-index: 10;
    width: 100vw;
  }
  body .body-red{
    background-color: #e40b0b;
  }


  #navPopUp div{
    height: auto;
    flex-direction: column;
    margin-top: 25vh;
  }
  #navPopUp a{
    color: var(--bg);
    font-size: 48px;
    font-weight: 700;
    grid-column: 2 / span 5;
    
  }

  
  #navPopUp div a+a{
    margin-top: 5vh;
  }

  .no-scroll{
    overflow: hidden;
  }

  #navPopUp > div > a{
    z-index: 15;
  }


  .loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  z-index: 9000;
  }

  .grid-load{
    z-index: 9999;
  }

  .percent{
    font-size: 200px;
    color: var(--fg);
    grid-column: span 6;
    position: absolute;
    bottom: 10vh;
  }


  
  


@media only screen and (max-width: 600px) {

  h1 { font-size: 70px; line-height: 50px; }
  .hero > div:nth-child(2) > h1:nth-child(2) { font-size: 42px; }
  h2 { font-size: 36px; }
  h3 { font-size: 24px; }
  h4, h5, h6 { font-size: 20px; }

  .grid {
    grid-template-columns: repeat(6, var(--mobile-column-width));
    column-gap: var(--mobile-column-gap);
    row-gap: var(--mobile-column-gap);
    margin-left: var(--mobile-column-margin-left);
    margin-right: var(--mobile-column-margin-right);
  }

  .grid-overlay {
    grid-template-columns: repeat(7, var(--mobile-column-gap));
    column-gap: var(--mobile-column-width);
    margin-left: calc(var(--mobile-column-margin-left) - var(--mobile-column-gap));
    margin-right: calc(var(--mobile-column-margin-right) - var(--mobile-column-gap));
  }

  /* hide excessive columns */
  .grid-overlay :nth-child(7), 
  .grid-overlay :nth-child(8), 
  .grid-overlay :nth-child(9), 
  .grid-overlay :nth-child(10) {
    display: none;
  }

}


@media only screen and (min-width: 600px) and (max-width: 1200px) {

  h1 { font-size: 128px; }
  h2 { font-size: 72px; }
  h3, h4, h5, h6 { font-size: 24px; }

  .grid {
    grid-template-columns: repeat(8, var(--tablet-column-width));
    column-gap: var(--tablet-column-gap);
    row-gap: calc(var(--tablet-column-gap) * 0.5);
    margin-left: var(--tablet-column-margin-left);
    margin-right: var(--tablet-column-margin-right);
  }

  .grid-overlay {
    grid-template-columns: repeat(9, var(--tablet-column-gap));
    column-gap: var(--tablet-column-width);
    row-gap: var(--tablet-column-width);
    margin-left: calc(var(--tablet-column-margin-left) - var(--tablet-column-gap));
    margin-right: calc(var(--tablet-column-margin-right) - var(--tablet-column-gap));
  }

  .grid-overlay :nth-child(9),
  .grid-overlay :nth-child(10) {
    display: none;
  }

  nav div {
    margin-top: 1vh;
    justify-self: end;
    grid-column: span 10;
    position: fixed;
    z-index: 100;
  }

  nav div a {
    margin-left: 2vw;
  }
}


@media only screen and (min-width: 1200px) {

  h1 { font-size: clamp(125px, 16vmax, 255px); }
  /* h2 { font-size: 96px; } */
  h2 { font-size: clamp(72px, 7vmax, 96px); }
  h3, h4, h5, h6 { font-size: 24px; }

  .grid {
    grid-template-columns: repeat(10, var(--column-width));
    column-gap: var(--column-gap);
    row-gap: calc(var(--column-gap) * 0.5);
    margin-left: var(--column-margin-left);
    margin-right: var(--column-margin-right);
  }

  .grid-overlay {
    grid-template-columns: repeat(11, var(--column-gap));
    column-gap: var(--column-width);
    margin-left: calc(var(--column-margin-left) - var(--column-gap));
    margin-right: calc(var(--column-margin-right) - var(--column-gap));
  }

  .nav-desktop { display: grid;}
  .nav-mobile { display: none}

  nav div{
    position: fixed;
    top: 1vh;
    z-index: 100;
    grid-template-areas: 
    ". . . index about work contact . . ."
    ;
  }

  nav div a {
    justify-self: center;
  }
  
  nav div :nth-child(1){ grid-area: index; }
  nav div :nth-child(2){ grid-area: about; }
  nav div :nth-child(3){ grid-area: work; }
  nav div :nth-child(4){ grid-area: contact; }
  
  .hero .port{
    align-self: flex-end;
  }

 
}

